*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color:rgb(14, 22, 42);
}

#contenedor{
    width: 90vw;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px rgb(51, 64, 84);
}

#board{
    width: 100%;   
    table-layout: fixed;
    border-collapse: collapse;
}

td{
    text-align: center;
    /* border: none; */
}

/* ============= FILAS ============ */

#fila-informacion{
    height: 60px;
    background-color: rgb(51, 64, 84);
}

.fila{
    height: 65px;
    background-color: rgb(30, 41, 59);
}

.fila td{
    border-top: 2px solid gray;
}


